{% extends "layout.html" %}
{% block body %}
<style>
.theDiv{
  overflow:auto;
}
</style>
<div class="" align="center">
	<h2 >106學測交叉榜單分析</h2>
        <label>共有<a href="http://myweb.fcu.edu.tw/~d0381718/txt/school69.txt">69間學校</a> (學校編號,名稱), <a href="http://myweb.fcu.edu.tw/~d0381718/txt/department2001.txt">2001個科系</a> (學校編號,科系編號,名稱)</label>
        <label><a href="http://myweb.fcu.edu.tw/~d0381718/txt/personID59908.txt">59908位考生</a> (考生ID), 其中<a href="http://myweb.fcu.edu.tw/~d0381718/txt/place59653.txt">59653個有地區資料</a> (考生ID,地區,縣市)</label>
        <label>第一階段共通過<a href="http://myweb.fcu.edu.tw/~d0381718/txt/person180821.txt">180821筆校系</a> (考生ID,學校編號,科系編號,科系名稱)</label>
        <p><img src=http://i.imgur.com/9s9Yc6G.png />
        

</div>

{% endblock %}