<!DOCTYPE HTML>

<html>
	<head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='img/i.png')}}" /><link rel="icon" href="{{ url_for('static', filename='img/i.png')}}" />
		<title>關於本站</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='about/css/main.css') }}" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body id="top">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="#" class="image avatar"><img src="{{ url_for('static', filename='img/me.jpg') }}" alt="" /></a>
					<h1><strong>關於本站</strong><br />
					<p>逢甲小幫手<br />
					<p>crafted by <a href="http://flask.pocoo.org/" target="_blank">Flask</a></h1>
				</div>
			</header>

		<!-- Main -->
			<div id="main">
					<section id="one">
						<header class="major">
							<h2>逢甲小幫手 隱私權聲明<br />
							</h2>
						</header>
						<p>歡迎您光臨「逢甲資訊.台灣」(以下簡稱本網站)，本網站十分重視您的個人隱私權，並遵守個人資料保護法及相關法令之要求，特制定本聲明，以協助您了解本網站如何蒐集、處理、利用及致力於保護您的網路隱私及個人資料。</p>
						<p> <span>一、</span><b>隱私權保護聲明的適用範圍</b></p>
                        <p>您在使用本網站過程中，涉及個人資料蒐集、處理、利用與保護之相關作法。</p>
                        <p> <span>二、</span><b>資料的蒐集與使用方式</b></p>
                        <p>1.伺服器會記錄您使用連線設備的IP位址、使用時間、使用的瀏覽器、瀏覽及點選資料記錄等，此記錄僅為內部應用，做為我們增進網站服務的參考。</p>
                        <p>2.當您參與本網站之相關服務時，您所提供之資料，我們會遵循「個人資料保護法」及相關法令規定，不會將其應用在超出收集特定目的以外之用途。</p>
                        <p>3.除上述兩項情形之外，本網站將不會蒐集任何有關個人的身分資料。</p>
                        <p> <span>三、</span><b>隱私權保護聲明之修正</b></p>
                        <p>本網站隱私權保護聲明將因應需求隨時進行修正，修正後的條款將刊登於網站上。</p>
                        <p>若您對自己在本網站中的隱私權有任何問題，請聯絡 管理者@逢甲資訊.台灣 。</p>
                        <ul class="actions">
							<li><a href="https://xn--tnyq85bc4be0e.xn--kpry57d" class="button">回逢甲小幫手</a></li>
						</ul>
					</section>
			</div>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://github.com/leo850611" class="icon fa-github" target="_blank"><span class="label">Github</span></a></li>
						<li><a href="http://xn--kivw8x.xn--kpry57d/" class="icon fa-dribbble" target="_blank"><span class="label">Dribbble</span></a></li>
						<li><a href="mailto:管理者@逢甲資訊.台灣" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
					</ul>
					<ul class="copyright">
						<li> Copyright &copy; 2017 Leo Sheu</li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='about/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='about/js/jquery.poptrox.min.js') }}"></script>
			<script src="{{ url_for('static', filename='about/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='about/js/util.js') }}"></script>
			<script src="{{ url_for('static', filename='about/js/main.js') }}"></script>
            
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-97349895-1', 'auto');
          ga('send', 'pageview');
        </script>
	</body>
</html>